body
{
    background-image: url(fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1
{
    text-align: center;
    background-color: pink;
}
ul
{
    background-color: chocolate;
}