body
{
    background-image: url(/fondo2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    background-color: red;
}
h1
{
    text-align: center;
    background-color: pink;
}
ul
{
    background-color: chocolate;
}