body
{
    background-image: url(/absol.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
h1
{
    text-align: center;
    background-color: grey;
}
ul
{
    background-color: black;
}
